@import '../../../styles/utils';
.PulseTypeSelect {
  display: flex;
  align-items: center;
  height: 70px;
  font-size: pxToRem(50);
  padding-left: 10px;
  .Select {
    bottom: 0;
    font-size: 15px;
  }
}
