@import '../utils';
.Form {
  min-height: 200px;
  min-width: 160px;
  &-container {
    max-height: 400px;
  }
  &-title {
    margin-bottom: 10px;
  }
  &-fields {
    & > * {
      margin-bottom: 5px;
      font-size: pxToRem(16);
    }
  }
  &-buttonWrapper {
    margin-top: 5px;
  }
}
