@import '../utils';
.Form {
  padding: 20px 10px;
  min-height: 200px;
  min-width: 160px;
  &-container {
    min-height: 500px;
  }
  &-title {
    margin-bottom: 10px;
  }
  &-fields {
    & > * {
      margin-bottom: 5px;
      font-size: pxToRem(16);
    }
  }
}
