@mixin Button {
  .Button {
    &-primary {
      border: 1px solid #ced4da;
      background-color: $primary;
      &:hover {
        border: 1px solid #ced4da;
        background-color: $primary-hover;
      }
      &:disabled,
      &[disabled] {
        outline: none;
        border: 0px;
        background-color: $primary-tint-50;
      }
    }
  }
}
