@import '../../../app.global.scss';
.SignIn {
  height: 100%;
  justify-content: flex-end;
  background: url('../../../images/background.png') no-repeat fixed center/cover;
  @include verticalCenter;
  &-container {
    height: 100%;
    width: 50%;
    overflow: hidden;
    z-index: 1;
    background-color: white;
  }
}
