@import '../../../styles/variables';
@import '../../../styles/utils';
.SignIn {
  height: 100%;
  justify-content: flex-end;
  @include verticalCenter;
  &-container {
    width: 50%;
    border-radius: 50px;
    box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
    margin-right: auto;
    margin-left: auto;
    padding: 2%;
  }
}
