@import './variables.scss';

@import './form/index.scss';

@import './pages/index.scss';

@import './components/index.scss';

html,
body {
  background-color: #e8e8e8;
  height: 100%;
  font-size: 32px;
}

#root {
  height: 100%;
}

input {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 400;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  &:focus {
    outline: none;
  }
  padding: 0.375rem 0.75rem;
}
