@import '../../../common/styles/utils/';

.ExportDataOrDiagnosisPage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  &-exportDataButton,
  &-diagnoseButton {
    &.btn {
      border-radius: 10px;
      font-size: pxToRem(30);
    }
  }
  &-exportDataButton {
    margin-right: pxToRem(20);
  }
}
