@import '../../../styles/variables';
.RecordButton {
  &.btn-primary {
    background-color: $red;
    border-color: $red;
    &:active,
    &:focus,
    &:hover {
      background-color: $red;
      border-color: $red;
    }
  }
}
