@mixin Diagnosis {
  .Diagnosis {
    height: 100%;
    &-toolbar {
      &Container {
        display: flex;
        justify-content: center;
        & > * {
          display: inline;
        }
      }
    }
    &-button {
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: 10px solid white;
      border-radius: 50%;
      padding: 10px;
      &:hover {
        background-color: transparent;
        border-color: rgb(172, 172, 172);
        .Icon {
          &-recording {
            color: red;
          }
          &-stop {
            color: red;
          }
        }
      }
      & > &Text {
        &Stop {
          color: black;
        }
        &Recording {
          color: black;
        }
      }
    }
  }
}
