@import '../../../styles/utils';
.ContinueButton {
  margin-top: pxToRem(20);
  &-text {
    margin-right: pxToRem(10);
  }
  &-wrapper {
    button {
      width: 100%;
      height: 100%;
    }
  }
  &.btn {
    font-size: pxToRem(37);
    box-shadow: unset;
  }
}
