@import '../../styles/variables';
@import '../../styles/utils';
@import '../../styles/form/Form.scss';
.DiagnosisForm {
  height: 100%;
  &-toolbar {
    &Container {
      width: 95%;
      position: absolute;
      bottom: 2%;
    }
  }
  &-button {
    width: 75px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    &.btn {
      color: white;
      font-size: pxToRem(37);
      border-radius: 50%;
    }
    & > &Text {
      &Stop {
        color: black;
      }
      &Recording {
        color: black;
      }
    }
  }
  &-pulseSelect {
    width: 100%;
    .Select {
      width: 100%;
      font-size: pxToRem(14);
    }
    &Wrapper {
      margin-left: 2%;
      z-index: 2;
    }
  }
  &-continueOrResetContainer {
    background-color: $light-gray;
    border-radius: 20px;
    min-width: 200px;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
}
