@import '../../app.global.scss';

.Button {
  &-container {
    display: flex;
    justify-content: center;
    button {
      border-radius: 50px;
      background-color: $primary-color;
      box-shadow: 0.5rem 0.5rem 2rem #acacac, -1rem -1rem 2rem #ffffff;
      font-size: 30px;
      font-weight: 600;
      padding: 20px 40px;
      &:disabled,
      &[disabled] {
        border: 0px;
        background-color: $light-gray;
      }
      &:active {
        box-shadow: inset 2px 2px 10px #ababab, inset -2px -2px 10px #ffffff;
      }
    }
  }
  &-iconOnly {
    border-radius: 50%;
    button {
      padding: 10px;
    }
  }
  &-primary {
    &:disabled,
    &[disabled] {
      background-color: $primary-tint-50;
    }
  }
}
