// Colors
$primary-tone-50: #7b684d;
$primary-tone-40: #937d5c;
$primary-tone-30: #ac926b;
$primary-tone-20: #c4a67a;
$primary-tone-10: #ddbb8a;
$primary: #f5d099;
$primary-tint-10: #ddbb8a;
$primary-tint-20: #f7d9ad;
$primary-tint-30: #f8deb8;
$primary-tint-40: #f9e3c2;
$primary-tint-50: #fae8cc;

// Hover Colors
$primary-hover: #cab298;

// Button Colors
$green: #7cd889;
$red: #f65959;
