@import '../../styles/variables';
@import '../../styles/utils';
.TextField {
  &-container {
    display: block;
  }

  &-input {
    width: 100%;
    &--error {
      border: 1px solid $red;
    }
    &:focus {
      border: 1px solid $primary-color;
    }
  }

  &-error {
    color: $red;
    font-size: pxToRem(30);
  }
}
