@import '../../../styles/utils';
.ContinueButton {
  @include circleIcon;
  &-wrapper {
    button {
      width: 100%;
      height: 100%;
    }
  }
  &.btn {
    font-size: pxToRem(37);
    box-shadow: unset;
  }
}
