@import '../../../styles/variables';
@import '../../../styles/utils';
.StartButton {
  @include circleIcon;
  &.btn {
    font-size: pxToRem(37);
  }
  &.btn-primary {
    background-color: $green;
    border-color: $green;
    &:active {
      background-color: $green;
      border-color: $green;
    }
  }
}
